<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/commons/common.css">
    <link rel="stylesheet" href="/css/sign/signin.css">

</head>
<body>
    <header >
        <h1>상단영역</h1>
        <div CLASS="wrap view-size-m flex center">
            <a href="/">HOME</a>
        </div>
    </header>
    <main >
        <h1>메인영역</h1>
        <div CLASS="wrap view-size-m">
            <p class="page-tit">로그인</p>
            <form id="signin-form" action="/signin-action" method="post">
                <ul>
                    <li>
                        <input type="text" name="email" placeholder="이메일 또는 아이디">
                    </li>
                    <li>
                        <input type="password" name="pass" placeholder="비밀번호">
                    </li>
                    <li>
                        <button class="btn-style-common" type="submit">로그인</button>
                    </li>
                </ul>
            </form>
        </div>
    </main>
    <footer >
        <h1>하단영역</h1>
        <div CLASS="wrap view-size-m">
            <div class="flex center">codingground company</div>
            <hr>
            <div class="flex center">
                WEB DEVELOPER 홍대표 tree1787@naver.com BUSINESS LICENSE
                <a href="tel:01027637715">010-2763-7715</a>
            </div>
        </div>
    </footer>
</body>
</html>